---
import { Icon } from 'astro-icon/components'
// Destructure the properties from Astro.props
const { title, url, noArrow, icon } = Astro.props;
// Define TypeScript interface for the properties
interface Props {
  title?: string;
  url?: string;
  noArrow?: boolean;
  icon?: string;
}
// Define CSS classes for styling the button
const baseClasses =
  "group mt-2 lg:mt-4 inline-flex items-center justify-center gap-x-2 rounded-lg px-2 text-md font-bold text-neutral-800 ring-zinc-500 transition duration-300 focus-visible:ring-3 outline-hidden";
const borderClasses = "border border-transparent";
const bgColorClasses =
  "relative after:w-[100%] after:h-2/3 after:bg-cyan-200/80 after:rounded-xs after:-skew-x-4 after:absolute after:left-0 after:bottom-0 after:-z-1";
const disableClasses = "disabled:pointer-events-none disabled:opacity-50";
const fontSizeClasses = "2xl:text-base font-kgmiss tracking-wide";
const ringClasses = "dark:ring-zinc-200";
let iconName = "mingcute:" + (icon? icon : 'right-fill')
---

<!-- Link styled as a button, with dynamic title, URL, and optional arrow -->
<a
  class={`${baseClasses} ${borderClasses} ${disableClasses} ${fontSizeClasses} ${ringClasses}`}
  href={url}
>
  <span class=`${bgColorClasses} px-2`>
    {title}

  </span>
  {noArrow ? null : <Icon name={iconName} class='-mx-2 group-hover:translate-x-1 transition-transform'/>}
  <!-- Display the arrow based on the 'noArrow' property -->

</a>
